.translatable-vertical-header label {
    vertical-align: top;
}

.translatable-vertical.tabs.language-tabs-switch {
    display: inline-block;
    vertical-align: top;
}

.translatable-vertical.tabs.language-tabs-switch:not(.full-width) {
    margin-left: 15px;
}

.translatable-inline.tabs.language-tabs-switch {
    margin-bottom: 5px !important;
}

.translatable-label {
    vertical-align: top;
}

.language-tabs-switch.full-width {
    width: 100%;
}

.language-tabs-switch a, .language-tabs-switch div {
    font-size: 0.8rem !important;
    padding: 1px 8px !important;
    color: #000 !important;
}

.language-tabs-switch dd.active a {
    background: #43ac6a !important;
    color: #fff !important;
}

.language-tabs-switch dd.active a:hover {
    background: #43ac6a !important;
}

.language-tabs-switch dd:not(.active):not(.translatable-delete) a:hover {
    background: #008cba !important;
    color: #fff !important;
}

.language-tabs-switch dd.translatable-delete div:hover {
    cursor: pointer;
    background: #e35b5a !important;
    color: #fff !important;
}

.language-tabs-content {
    margin-bottom: 0 !important;
}

.language-tabs-content .content {
    padding: 0 !important;
}
